<header class="flex flex-col justify-center items-center w-full mb-3">
  <img src="/img/logo.png" height="60" width="60" />
  <h2 class="text-[#009999] font-extrabold text-xl uppercase">Informe de Ejecución</h2>
</header>