<header class="flex flex-col justify-center items-center w-full h-auto mb-3">
  <div class="flex flex-row justify-center items-center h-full gap-4">
    <img src="/img/logo.png" class="h-[80px]" />
  </div>
  <h2 class="text-[#009999] font-extrabold text-xl uppercase">Informe</h2>
  <div class="flex flex-row justify-center w-full">
    <div id="btn-ejecucion" class="text-center p-3 w-full cursor-pointer border-b-2 border-[#009999] hover:bg-[#009999] hover:text-white transition duration-400 rounded-t">Ejecución</div>
    <div id="btn-consumo" class="text-center p-3 w-full cursor-pointer hover:bg-[#009999] hover:text-white transition duration-400 rounded-t">Consumo</div>
  </div>
</header>